*{
    box-sizing: border-box;
}
.bootcamper-profile{

    display:flex;
    width: 80%;
  
    margin: auto;
    margin-top:50px;
    
    flex-direction: column;
    gap: 20px;
}

.availability{
    display:flex;
    flex-direction: column;
    border:solid;
    border-radius:10px;
    border-color: var(--siteColor10);
}

.availability>h1{
    margin:0px;
    margin-top: 21.4px;
    margin-left: 20px;
    align-self: flex-start;
    
}

.availability>ul>li{
    display:flex;
    align-items: center;
    gap: 20px;
    margin:0px;
    height:30px;
}
.availability>ul>li>h3{
   font-size:20px;
}

.bootcamper-name-profile{
    
    height:70px;
    width:auto;
    margin-right:20px;
    font-size: 50px;
    align-self: center;
    
}
.bootcamper-profile-header{
    margin-top:10px;
    display:flex;
    gap: 10px;
   
 
}


.name-strength-weakness{
    display:flex;
    flex-direction: column;
    
    width:100%;
}

.enter-password{
    align-self: center;
}

.topic-profile>div{
    display: flex;
    justify-content: space-between;
   border:solid;
   width: auto;
   border-radius:10px;
    border-color: var(--siteColor10);
}

.strength-and-weakness{
    width:100%;
    border:solid;
    border-radius:10px;
    border-color: var(--siteColor10);
}

.strength-profile>h1{
  
    margin-left: 20px;
   
    
}

#view{
    height:20px;
    align-self: center;
}

.profile-picture{
    height:auto;
    padding:10px;
    background-color:var(--siteColor10);
    border:solid black 2px;
    margin-right:10px;
    border-radius: 10px;

}

.topic-name-SW{
    align-self: center;
}
.topic-box{
    display: flex;
    border: solid red;
    height: 40px;
    padding:0 10px;
    border-radius:10px;
    
}

.delete-SW{
    margin-left:10px;
    margin-right:0px;
    align-self: flex-start;
   height:20px;
}

.logged-in{
    color:green;
}

.description{
    display:flex;
    flex-direction: column;
    border:solid;
    padding:0px 20px;
    border-radius:10px;
    border-color: var(--siteColor10);
}

.view{
    display:flex;
    gap:10px;

    height: 40px;
}

.view>#view{
    height:35px;
    border:solid;
    border-color: var(--siteColor10);
    border-radius: 10px;
    font-size: 20px;
}

.enter-password{
    display:flex;
    height:35px;

}

.enter-password>input{
    height:35px;
    border-radius: 10px 0 0 10px ;
    border-color: var(--siteColor10);
    font-size:20px;
    border-right: none;
}

.enter-password>button{
    height:35px;
    border-radius: 0 10px  10px 0;
    border-color: var(--siteColor10);
    background-color: var(--siteColor10);
    font-size:20px;
}

.logged-in{
    justify-content: center;
    align-self: center;
    margin:0px;
}

.name-SW{
    width:100%;
}

.view-name{
    display:flex;
    align-items: center;
}

.description-form{
    border:solid;
    padding:0px 20px;
    border-radius:10px;
    border-color: var(--siteColor10);
    width:100%;
    font-size: 20px;
}
.save{
    margin-top:10px;
    margin-bottom:10px;
    justify-content: flex-end;
    align-items: flex-end;
    align-self:flex-end;
    height:40px;    
    width:100px;
    background-color: var(--siteColor30);
    border-radius: 10px;
    font-size: 20px;
}

.description>h1{
    align-self: flex-start;
}

.visible-description{
    margin-top:0px;
  
    width:100%;
    font-size: 20px;
}

.saved-pair{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-self:flex-end;
    gap:10px;
    
}

.saved{
    color:green;
}