.topic-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;

}

.strength{
    display:flex;
    gap:10%;
    margin:0;
}

.strength>h2{
    padding:0;
    margin:0;
    margin-left:5%;
    align-self: center;
}

.weakness{
    display:flex;
    gap:10%;

}
.weakness>h2{
    padding:0;
    margin:0;
    margin-left:5%;
    align-self: center;
    
}

.strength>ul{
    display:flex;
    flex-direction: row;
    list-style: none;
    padding:0px;
    gap:10%;
    width: 100%;
    flex-wrap:nowrap;
    overflow: hidden;
    margin:0;
}

.strength>ul:hover{
    display:flex;
    flex-direction: row;
    list-style: none;
    max-width: 180px;
    padding:0px;
    gap:20px;
    flex-wrap:nowrap;
    overflow: scroll;
}

.strength>ul>li{
    align-self: center;
    font-size:calc(0.3rem + 1vw);
}


.weakness>ul{
    display:flex;
    padding:0px;
    list-style: none;
    gap: 10%;
    width: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
    margin:0;
   
}

.weakness>ul:hover{
    display:flex;
    list-style: none;
    gap: 20px;
    max-width: 200px;
    flex-wrap:nowrap;
    overflow: scroll;
}

.weakness>ul>li{
    align-self: center;
    font-size:calc(0.3rem + 1vw);
}



