@import '../../colour.css';

.header{
    display: flex;
    background-color: var(--siteColor10);    
    justify-content: space-between;
    height: 70px;
}

.header>div{
    display: flex;
    height: 80%;
    gap: 30px;
    margin-left: 100px;
    padding: 7px;
    color: var(--textColorLight);
}

.header>nav{
  display:flex;
  margin-right: 100px;
}

.header>nav>ul{
    align-self: flex-end;
    display:flex;
    list-style: none;
    gap: 30px;
    margin-bottom: 20px;
}

.link{
    color: var(--textColorLight);
    text-decoration: none;
    font-weight: bold;
}

.link:hover{
    color: var(--siteColor60);
    text-decoration: none;
    font-weight: bold;
    gap: 20px;
    margin-bottom: 15px;
}

h1>a{
    text-decoration: none;
    color:black;
    cursor:pointer;
    font-size:40px;
    align-self: center;
}

h1{
    align-self: center;

}

.header>div{
    margin-left:30px;
    margin-top:10px;
}