@import '../../colour.css';
:root{
    --item-width: 40%;
}

.bootcamper-item{
    display:flex;
    border: solid;
    border-radius: 30px;
    background-position: center;
    border-color: var(--siteColor10);
    width: 40%;
   gap:30px;
   overflow: hidden;
   background-color:white;
   box-shadow: 5px 5px 5px #cec3ca;
   
}

.bootcamper-left-half{
    display: flex;
    flex-direction: row;
    align-self: left;
   background-color: none;
}

.profile-pic{
    height: 150px;
    width:150px;
    border-radius: 50%;
    border: 5px solid var(--rainbowG);
    margin: 30px;
    margin-left:35px;
}

.bootcamper-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.bootcamper-one{
    display: flex;
    font-size: 2.2em;
    font-weight: bold;
    text-align: center;
    width: 250px;
    align-items: center;
    justify-content: center;
    margin:0px;
    gap:10px;
}



nav>ul>li>a{
    font-size: 20px;
    text-decoration: none;
    color:black;
}

nav>ul>li>a:hover{
    font-size: 20px;
    text-decoration: none;
    color:red;
}

.button-div{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    
}


.info-button{
    height:40px;    
    width:100px;
    background-color: var(--siteColor30);
    border-radius: 10px;
    font-size: 20px;
}

.link-view{
    height:40px;    
    width:80px;
    background-color: lightblue;
    border-radius: 10px;
}

.link-message{
    height:40px;    
    width:80px;
    background-color: lightblue;
    border-radius: 10px;
}

.bootcamper-item>img{
    align-self:center;
    height: 100px;
    width:100px;
    border-radius: 100px;

}



.bootcamper-right-half{
    width:100%;
   
   background-color:var(--siteColor60);
    display:flex;
    
   
}

.topic-list{
    display:flex;
    width:100%;
}

.strength>h2{
    font-size: 20px;
    
}