.bootcamper-item{
    display:flex;
    justify-content: space-evenly;
    border: solid;
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
}
nav>ul>li>a{
    font-size: 20px;
    text-decoration: none;
    color:black;
}

nav>ul>li>a:hover{
    font-size: 20px;
    text-decoration: none;
    color:red;
}

.button-div{
    display: flex;
    gap: 20px;
    height: 30px;
    justify-content: center;
    align-self: center;
}
button{
    height:40px;    
    width:80px;
    background-color: lightblue;
    border-radius: 10px;
}

.bootcamper-item>img{
    align-self:center;
    height: 100px;
    width:100px;
    border-radius: 100px;
}