:root{
    --siteColor60: #F5EEF3;
    --siteColor30: #B181A7;
    --siteColor10: #945786;
    --textColorDark: black;
    --textColorGrey: #636363;
    --textColorLight: white;
    --rainbowR: #BD6F7F;
    --rainbowO: #CBA178;
    --rainbowY: #CBC678;
    --rainbowG: #7FB068;
    --rainbowB: #728D99;
    --rainbowI: #51608B;
    --rainbowV: #6F5589;
}