@import '../../colour.css';

.strength-profile{
    display:flex;
    border: solid;
}

.topic-profile{
    display:flex;
    list-style: none;
    gap:10px;
    align-self: center;
}

.addStrengthOrWeakness{
    height:30px;
    width: 30px;
    align-self: center;
}

#S{
height:30px;
width:100px;
align-self: center;
margin-left:20px;
}

#W{
    height:30px;
    width:100px;
    align-self: center;
    margin-left:20px;
    }