.search{
    display:flex;
    margin-top: 40px;
    justify-content: center;
    gap: 10px;
}

.input{
    border:solid;
    border-color: var(--siteColor10);
    height: 30px;
    width: 400px;
    border-radius: 10px;
}

#search-filter{
    border:solid;
    border-color: var(--siteColor10);
    border-radius:10px;
    font-size: 20px;
}